@using Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebChat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Chat" asp-action="Index">WebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Index">Home</a>
                        </li>
                    
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (SignInManager.IsSignedIn(User))
        {
            <main role="main" class="pb-3">
                <h1 class="h3 mb-3">Messages</h1>
                <div class="card">
                    <div class="row g-0">
                        <div class="col-12 col-lg-5 col-xl-3 border-right">

                            @*Search users*@
                            <a asp-action="Index" asp-controller="Chat" class="btn btn-primary">All chats</a>
                            <a asp-action="GetUsers" asp-controller="Chat" class="btn btn-primary ml-1">All users</a>
                            @*Add chat*@
                            <form asp-action="CreateChat" asp-controller="Chat">
                                <div class="px-4 d-none d-md-block">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 d-inline-bloc">
                                            @Html.Editor("name", new { htmlAttributes = new { @class = "form-control my-3" ,@placeholder="Enter chat name", @id = "name"} })
                                            <input type="submit" class="btn btn-primary" value="Create">
                                        </div>
                                    </div>
                                </div>
                            </form>


                            <vc:chat></vc:chat>


                            <hr class="d-block d-lg-none mt-1 mb-0">
                        </div>
                        <div class="col-12 col-lg-7 col-xl-9">
                            <div class="py-2 px-4 border-bottom d-none d-lg-block">
                                <div class="d-flex align-items-center py-1">

                                    <div class="flex-grow-1 pl-3">
                                        <strong>@ViewBag.ChatName</strong>
                                        <div class="text-muted small"><em>@*Unread*@</em></div>
                                    </div>
                                    @if (ViewBag.ChatId!=null)
                                    {
                                        <a asp-action="LeaveChat" asp-controller="Chat" asp-route-chatId="@ViewBag.ChatId" class="btn btn-primary">Leave chat</a>
                                    }
                                    

                                </div>
                            </div>

                            <div class="position-relative">
                                <div class="chat-messages p-4">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        }else
        {
            <p>Please login or register</p>
            <div class="position-relative">
                                <div class="chat-messages p-4">
                                    @RenderBody()
                                </div>
                            </div>
        }
       
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
